* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

html {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 70px;
  background: linear-gradient(65deg, white, #9ec3cf, #0d4558);
  z-index: 1;
}
header button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  left: 10px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  transition: 0.2s ease;
}
header #leagueInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: inherit;
  padding: 0 20px;
  margin: 0 auto;
}
header #leagueInfo img {
  height: 80%;
}
header #leagueInfo span {
  font-size: 2rem;
  padding-left: 20px;
  color: #1b1b1b;
  font-family: "Zen Dots", cursive;
}

.wrapper {
  width: 100%;
  display: grid;
  place-items: center;
  /* background-color: red; */
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px 0;
  background-color: white;
  max-width: 1800px;
}
main section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
main section:first-of-type {
  width: 60%;
  border-right: 1px solid rgb(175, 175, 175);
}
main section:last-of-type {
  width: 40%;
}

.container {
  width: 90%;
}

#table {
  background: white;
  padding-left: 6px;
  padding: 10px;
  border-radius: 4px;
}
#table table {
  border-collapse: separate !important;
  border-spacing: 0 5px;
  position: relative;
  width: 100%;
}
#table table thead tr {
  height: 35px;
  text-transform: uppercase;
}
#table table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 2;
  padding-bottom: 5px;
  transition: all 1s ease;
}
#table table thead tr th.thbackground {
  transition: all 1s linear ease;
  background-color: #f1f7f7;
}
#table table thead tr th + th {
  width: 50px;
  text-align: center;
}
#table table tbody tr {
  height: 50px;
  border-radius: 4px;
  background: linear-gradient(162deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 29%, #0d4558 100%);
  transform: skewX(340deg);
}
#table table tbody tr td > div,
#table table tbody tr td img {
  transform: skewX(-340deg);
}
#table table tbody tr td + td + td {
  color: white;
}
#table table tbody tr > td:nth-child(2) {
  background-color: white;
}
#table table tbody tr td:first-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 10px;
  height: 50px;
  width: 255px;
}
#table table tbody tr td:first-child div:first-child,
#table table tbody tr td:first-child span {
  width: 20px;
  text-align: center;
}
#table table tbody tr td:first-child div:last-child {
  min-width: 170px;
  margin-left: 5px;
  font-size: 1rem;
}
#table table tbody tr td:first-child img {
  height: 35px;
  width: 35px;
  margin: 0 10px;
}
#table table tbody tr td + td {
  width: 50px;
  text-align: center;
}
#matches {
  background-color: white;
  padding: 0 20px;
  border-radius: 4px;
}
#matches .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
  border-bottom: 1px solid rgb(94, 94, 94);
}
#matches .header #matchday {
  font-size: 1.2rem;
}
#matches .header button {
  padding: 10px;
  border: none;
  background-color: transparent;
  transition: 0.5 linear;
}
#matches .header button:active {
  transform: scale(0.9);
}
#matches #matcheList .matche {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  padding: 10px;
  border-bottom: 1px solid rgb(175, 175, 175);
}
#matches #matcheList .matche .info {
  width: 36.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#matches #matcheList .matche .info .scoreboard {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  align-items: center;
}
#matches #matcheList .matche .info .scoreboard span {
  font-size: 1.2rem;
}
#matches #matcheList .matche .team {
  width: 33.33%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
#matches #matcheList .matche .team span {
  line-height: 20px;
}
#matches #matcheList .matche img {
  height: 40px;
}

.sidenav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  padding: 20px 0;
  z-index: 1;
  background-color: #0d4558;
  color: white;
  height: 80vh;
  width: 250px;
  border-right: 1px solid rgb(175, 175, 175);
  top: 38px;
  left: 42px;
  border-radius: 4px;
  transition: all 0.2s linear;
  transform: scale(0);
  transform-origin: left top;
}
.sidenav li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  padding-left: 20px;
  cursor: pointer;
  z-index: 1;
  gap: 25px;
}
.sidenav li span {
  pointer-events: none;
}
.sidenav li:hover {
  background-color: #156580;
}

.openSidenav {
  transform: scale(1);
  transform-origin: left top;
  transition: all 0.2s linear;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 90px);
}
.status div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 70px;
  width: 200px;
}

.active {
  background-color: #a0a0a0;
}

.disabled {
  color: #a0a0a0;
}/*# sourceMappingURL=style.css.map */