@import 'reset';
@import 'variables';
@import 'mixins';

header {
  @include flex(center, none);
  position: sticky;
  top: 0;
  height: 70px;
  background: linear-gradient(65deg, white, $blueLight, $blueDark);
  z-index: 1;
  button {
    @include flex;
    position: absolute;
    left: 10px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    transition: 0.2s ease;
  }

  #leagueInfo {
    @include flex(center, space-around);
    height: inherit;
    padding: 0 20px;
    margin: 0 auto;
    // filter: drop-shadow(0px 0px 25px white);
    img {
      height: 80%;
    }
    span {
      font-size: 2rem;
      padding-left: 20px;
      color: #1b1b1b;
      font-family: 'Zen Dots', cursive;
    }
  }
}

.wrapper {
  width: 100%;
  display: grid;
  place-items: center;
  /* background-color: red; */
}

main {
  @include flex(flex-start, space-around);
  padding: 20px 0;
  background-color: $main;
  max-width: 1800px;
  section {
    @include flex();
  }
  section:first-of-type {
    width: 60%;
    border-right: 1px solid $borderData;
  }
  section:last-of-type {
    width: 40%;
  }
}

.container {
  width: 90%;
}

#table {
  background: $container;
  padding-left: 6px;
  padding: 10px;
  border-radius: 4px;

  table {
    border-collapse: collapse;
    thead tr {
      th {
        position: sticky;
        top: 70px;
        z-index: 2;
        padding-bottom: 5px;
        transition: all 1s ease;
      }
      th.thbackground {
        transition: all 1s linear ease;
        background-color: #f1f7f7;
      }
      height: 35px;
      text-transform: uppercase;
      border-bottom: 1px solid $borderHeader;
      th + th {
        width: 50px;
        text-align: center;
      }
    }
    tbody tr {
      height: $cellTableHeight;
      border-bottom: 1px solid $borderData;

      td:first-child {
        @include flex(center, space-around);
        margin-left: 10px;
        height: $cellTableHeight;
        width: 255px;
        div:first-child,
        span {
          width: 20px;
          text-align: center;
        }

        div:last-child {
          min-width: 170px;
          margin-left: 5px;
          font-size: 1rem;
        }
        img {
          height: 35px;
          width: 35px;
          margin: 0 10px;
        }
      }
      td + td {
        &:nth-child(even) {
          background-color: rgb(241, 247, 247);
        }
        width: 50px;
        text-align: center;
      }
    }
  }
}

#matches {
  background-color: $container;
  padding: 0 20px;
  border-radius: 4px;
  .header {
    @include flex(center, space-between);
    height: 60px;
    border-bottom: 1px solid $borderHeader;
    #matchday {
      font-size: 1.2rem;
    }
    button {
      padding: 10px;
      border: none;
      background-color: transparent;
      transition: 0.5 linear;
      &:active {
        transform: scale(0.9);
      }
    }
  }

  #matcheList {
    .matche {
      @include flex(flex-end, center);
      height: $cellMatchesHeight;
      height: 100px;
      padding: 10px;
      border-bottom: 1px solid $borderData;
      .info {
        width: 33.33%;
        height: 100%;

        @include flex(center, center, column);
        .scoreboard {
          display: flex;
          gap: 10px;
          flex-grow: 1;
          align-items: center;
          span {
            font-size: 1.2rem;
          }
        }
      }
      .team {
        width: 33.33%;
        height: 90%;
        @include flex(center, space-between, column);
        text-align: center;
        span {
          line-height: 20px;
        }
      }
      img {
        height: 40px;
      }
    }
  }
}

.sidenav {
  @include flex(flex-start, space-between, column);
  position: fixed;
  padding: 20px 0;
  z-index: 1;
  background-color: $blueDark;
  color: white;
  height: 80vh;
  width: 250px;
  border-right: 1px solid $borderData;
  top: 38px;
  left: 42px;
  border-radius: 4px;
  transition: all 0.2s linear;
  transform: scale(0);
  transform-origin: left top;
  li {
    @include flex(center, flex-start);
    flex-grow: 1;
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
    z-index: 1;
    gap: 25px;
    span {
      pointer-events: none;
    }
    &:hover {
      background-color: #156580;
    }
  }
}
// .sidenav {
//   position: fixed;
//   z-index: 1;
//   background-color: #9ec3cf;
//   height: 100vh;
//   width: 250px;
//   border-right: 1px solid $borderData;
//   // display: none;
//   // width: 0;
//   transform: translateX(-250px);
//   top: 70px;
//   left: 0;
//   // overflow-x: hidden;
//   transition: all 0.3s linear;
//   @include flex(flex-start, space-between, column);
//   padding: 10px;

//   li {
//     @include flex(center, flex-start);
//     width: 100%;
//     cursor: pointer;
//     z-index: 1;
//     gap: 25px;
//     span {
//       pointer-events: none;
//     }
//     div {
//       @include flex();
//       pointer-events: none;
//       width: 60px;
//       img {
//         height: 40px;
//         object-fit: contain;
//         background-color: rgb(255, 255, 255);
//       }
//     }
//   }
// }

.openSidenav {
  transform: scale(1);
  // transform: translateX(0px);
  transform-origin: left top; //
  transition: all 0.2s linear;
}

.status {
  @include flex();
  width: 100%;
  height: calc(100vh - 90px);
  div {
    @include flex(center, space-between, column);
    height: 70px;
    width: 200px;
  }
}

.active {
  background-color: #a0a0a0;
}
.disabled {
  color: #a0a0a0;
}
